@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
}

@font-face {
    font-family: 'PropisiRU';
    src: url("./fonts/PropisiRU.ttf");
}

html, body{ height: 100%; }

body{
    margin: 0 auto;
    overflow: hidden;
}

.main {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    width:100%;
    height: 100%;
    min-width: 500px;
}

.container{
    font-family: 'Pacifico', cursive;
}

.cloud{
    display: none;
    /*position: absolute;*/
    width: 100%;
    height: 25vh;
    background-image: url("../src/img/cloud2.png");
    background-size: contain;
    top: 0;
}

.drop-info{
    position: absolute;
    top: 30vh;
    right: -30vh;
    transition: right 2s;
}

.drop-info-img img{
    width: 25vh;
}

.container-title{
    position: absolute;
    top: -20px;
    width: 100%;
    left: 0;
    opacity: 0;
    color: white;
    font-size: 25vh;
    font-weight: bold;
    text-shadow: #557276 1px 1px 3px;
}

.container-title h1{
    text-align: center;
}

.container-start-button {
    display: none;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.button{
    margin: auto 0;
    width: 50vh;
    height: 20vh;
    border-radius: 20px;
    font-size: 10vh;
    font-family: 'Pacifico', cursive;
    background-color: #FA8072;
    border: none;
    color: #fff;
    outline: none;
    transition: 500ms;
    cursor: pointer;
    box-shadow: #557276 1px 1px 3px;
    text-shadow: #557276 1px 1px 3px;
}

.button:hover{
    background-color: #f8412c;
    color: white;
}

.drop{
    position: absolute;
    width: 15vh;
    top: 5vh;
    /*   min-width:40px; */
}

.drop:hover{
    cursor: pointer;
}

.containerWord{
    position: absolute;
    top: 1vh;
    width: 100%;
    z-index: 2;
}

.containerWord p{
    /*display: none;*/
    font-family: PropisiRU;
    font-size: 9vh;
    color: #0489B1;
    text-align: center;
}

.drop-funny{
    position: absolute;
    top: 50px;
    left: 50px;
}

.containerDrop{
    position: absolute;
    z-index: 1;
}

.containerDrop img {
    /*display: none;*/
    width: 100%;
}

/*collectionLetters*/
.containerCollectionLetters {
    display: none;
    opacity: 0;
    font-family: PropisiRU;
    position: relative;
    flex-direction: row;
}

@media screen and (max-width: 880px) {
    .containerCollectionLetters {flex-direction: column;}
    body {overflow-y: auto}
    .container-title{ font-size: 15vh; }
    .drop-info{ top: 40vh; }
}

.containerLowercaseLetters{
    text-align: center;
}

.containerUppercaseLetters{
    text-align: center;
}

.setOfLetters{
    display: inline-block;
    position: relative;
    max-width: 155vh;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-image: linear-gradient(120deg, #ff9e81 0%, #ffbfaa 100%);
    box-shadow: 1px 1px 5px #8D8D8D;
}

.containerCollectionLetters h2{
    font-size: 12vh;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    text-shadow: 1px 1px 1px #8D8D8D;
}

.setOfLetters span{
    display: block;
    font-size: 25pt;
    font-weight: bold;
    float: left;
    margin: 5px;
    padding: 5px 20px;
    color: #55696c;
    border-radius: 25%;
    background-color: #fff;
    box-shadow: 2px 2px 2px #90b7bc;
}

.setOfLetters span:hover{
    /*	transition: 500ms;*/
    cursor: pointer;
    background-color: #fff;
    box-shadow: 2px 2px 3px #90b7bc inset;

    /*	box-shadow: 3px 3px 2px #8D8D8D;*/

}