@font-face {
    font-family: 'NexaScriptLight';
    src: url("./fonts/NexaScriptLight.ttf") format("truetype");
}

* {
    font-family: NexaScriptLight;
}

body{
    background-color: #B0E0E6;
    margin: 0 auto;
    overflow: hidden
}

.cloud{
    display: none;
    position: absolute;
    width: 100%;
    height: 25vh;
    background-image: url("../src/img/cloud2.png");
    background-size: contain;
    top: 0;
}

.drop-info{
    position: absolute;
    top: 30vh;
    right: -25vh;
    transition: right 2s;
}

.drop-info-img img{
    width: 25vh;
}

.container-title{
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;
    /*text-align: center;*/
    top: 0;
    color: white;
    font-size: 25vh;
    font-weight: bold;
    text-shadow: #557276 1px 1px 3px;
}

.container-start-button {
    display: none;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.button{
    margin: auto 0;
    width: 50vh;
    height: 20vh;
    border-radius: 20px;
    font-size: 10vh;
    background-color: #a1d1d8;
    border: none;
    color: #4c7a80;
    outline: none;
    transition: 500ms;
    cursor: pointer;
    box-shadow: #557276 1px 1px 3px;
}

.button:hover{
    background-color: #629097;
    color: white;
}

.drop{
    position: absolute;
    width: 15vh;
    top: 5vh;
    /*   min-width:40px; */
}

.drop:hover{
    cursor: pointer;
}

.containerWord{
    position: absolute;
    top: 1vh;
    width: 100%;
    z-index: 2;
}

.containerWord p{
    /*display: none;*/
    font-size: 9vh;
    color: #0489B1;
    text-align: center;
}

.containerDrop{
    position: absolute;
    z-index: 1;
}

.containerDrop img {
    /*display: none;*/
    width: 100%;
}